.sobre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    max-width: 1300px;
    margin: 10px auto;
}

.sobre-container {
    max-width: 900px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.titulo {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.conteudo {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    text-align: left;
}

.imagem {
    width: 250px;
    border-radius: 10px;
}

.texto {
    width: 520px;
    font-size: 1.5rem;
    line-height: 1.6;
}